.table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.prod-cat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tables {
    border: solid 3px white;
    border-radius: 10px;
    background-color: #823333;
    height: 80px;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 20px;
    box-shadow: 5px 10px 10px dimgrey;
}

.head-tables {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
}